﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form id="demoform" method="post">
        <div class="form-group">
            <label name="NameIn">Full Name:</label>
            <input id="fName" class="form-control" type="text" name="fname" value="">
            <br />
            <label for="sel1">Age:</label>
            <input id="fAge" class="form-control" type="text" name="fage" value="">
            <br />
            <div class="d-flex justify-content-center">
                <button id="subform" type="submit" class="btn btn-success">Submit</button>
                <div hidden id="loading" class="spinner-border text-success" role="status" visibility="hidden">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br />
            <br />
        </div>
    </form>

    <div class="d-flex justify-content-center">
        <h3><span id="message"></span></h3>
    </div>



    </div>
