﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPages2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">RazorPages2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RazorPages2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.onload = function () {
            HideLoad();
            Form();

        };

        function Form(){
            $("#demoform").submit(function (e) {
                e.preventDefault();
                var fData = {};
                fData.Name = $("#fName").val()
                fData.Age = $("#fAge").val()

                ShowLoad();

                postData('http://localhost:50471/utilities', fData);

            });
        }

        function HideLoad() {
            document.getElementById("loading").setAttribute('hidden', '');

            document.getElementById("subform").style.display = "block";
        }

        function ShowLoad() {
            document.getElementById("loading").removeAttribute('hidden');

            document.getElementById("subform").style.display = "none";
        }

        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                cache: 'no-cache',
                credentials: 'omit',
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
            }).then(data => {
                    HideLoad();
                console.log(data)
                document.getElementById("demoform").reset();
                $("#message").text("Success!");
            }).catch(function () {
                $("#message").text("Failure");
            });
        }


        //async function Owner() {
        //    const response = await fetch('http://localhost:50471/utilities')
        //    const json = await response.json()
        //    $("#mainTemp").text(json[0]);
        //}
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
